* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif !important;
}

p,
h1 {
  margin: 0;
}

body {
  background-image: url(./img/bg-body.png);
  background-repeat: repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

form {
  max-width: 480px;
  margin: 0 auto;
}

.form-heading {
  color: #4C4C79;
  text-align: center;
  margin-bottom: 5px;
  font-size: 35px;
}

.description {
  color: #B3B3C9;
  text-align: center;
  font-size: 18px;
}

.heading-wrap {
  margin-bottom: 30px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.input-group.one {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
}

#submit-btn {
  width: 100%;
  background-color: #5C3CD6;
  padding: 20px 0;
  outline: none;
  font-size: 18px;
  border: none;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
}

label.description {
  color: #8080A7;
  font-weight: 400;
  cursor: pointer;
}

label span {
  color: #5B3CD6;
  font-weight: 600;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  accent-color: #5B3CD6;
}

.modal.description {
  color: #9898B7;
}

.main-content {
  background-image: url(./img/desktop-bg.png);
  background-color: #fff;
  width: 100vw;
  max-width: 100%;
  height: 90vh;
  background-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrap {
  padding: 100px !important;
}

@media only screen and (max-width: 430px) {
  .container {
    max-width: 430px;
    margin: 0 auto;
  }

  form {
    max-width: 370px;
    width: 100%;
    margin: 0 auto;
  }

  .heading-wrap .description {
    font-size: 16px;
  }

  .main-content {
    height: 100vh;
    background-color: #F9F9FB;
    background-image: url(./img/mobile-bg.png);
  }

  label {
    background: #F9F9FB !important;
    font-size: 14px;
    text-align: left !important;
  }

  .description {
    font-size: 14px;
  }

  .input-group.one {
    grid-template-columns: 100%;
    margin-bottom: 0;
  }

  .first-name {
    margin-bottom: 20px;
  }

  .form-check {
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
    text-align: left;
  }

  .modal-wrap {
    padding: 50px 20px !important;
    width: 90%;
    backdrop-filter: opacity(0.3);
  }

  .modal.description {
    font-size: 16px;
  }

  .modal.description br {
    display: none;
  }
}